* {
/*     box-sizing: border-box;
    font-family: "Arial", sans-serif;
    font-size: 1.1rem;
    margin: 0;
    padding: 0; */

    /* font-family: "Arial", sans-serif; */

    @font-face {
        font-family: 'digitalFont';
        src: url(digital-7.ttf) format('truetype');
      }

    font-size: 1.1rem;
    margin: 0;
    padding: 0;
}

p {
    color: gray;
}

button {
    margin: 0 auto;
    padding: 0;
    border: none;
}

body {
    background-color: #111111;
}

div button {
    background-color: black;
    color: #808080;
}

.container {
    position: relative;
    text-align: left;
}

.container img {
    /* height: 100vh; */
    /* width: 100%; */

    height: 700px;
    width: 700px;
}

#kokeplater {
    border: 15px;
    border-color: #393939;
    border-style: solid;
}

.values {
    position: absolute;
    color: #111111; /* See body - background-color */
    /* color: black; */
}

.values-top-left {
    /* left: 325px;
    bottom: 130px; */
    left: 340px;
    bottom: 145px;
}

.values-top-right {
    /* left: 360px;
    bottom: 130px; */
    left: 380px;
    bottom: 145px;
}

.values-bottom-left {
    /* left: 325px;
    bottom: 90px; */
    left: 340px;
    bottom: 105px;
}

.values-bottom-right {
    /* left: 360px;
    bottom: 90px; */
    left: 380px;
    bottom: 105px;
}

.buttons {
    position: absolute;

    display: flex;
}

.buttons button {
/*     padding-left: 2px;
    padding-right: 2px; */
    padding: 2px 4px;
}

.buttons-top-left {
    /* position: absolute; */
    left: 120px;
    bottom: 155px;
}

.buttons-top-right {
    /* position: absolute; */
    left: 420px;
    bottom: 155px;
}

.buttons-bottom-left {
    /* position: absolute; */
    left: 120px;
    bottom: 95px;
}

.buttons-bottom-right {
    /* position: absolute; */
    left: 420px;
    bottom: 95px;
}

.bottom-buttons {
    position: absolute;

/*     border: 5px;
    border-radius: 5px;
    border-color: red;
    border-style: dashed; */

/*     height: 32px;
    width: 96px; */

/*     left: 300px;
    bottom: 10px; */

    height: 28px;
    width: 75px;

    left: 625px;
    bottom: 50px;

    display: flex;
    justify-content: space-between;
}

.bottom-buttons div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-buttons div img {
    height: 100%;
    width: auto;
}

#power-switch {

}

#lock {

}

#power-indicator {
    height: 75%;
    width: auto;
}

#lock-indicator {
    height: 75%;
    width: auto;
}

.plug {
    position: absolute;

/*     height: 32px;
    width: 32px; */

    /* width: 200px; */

    bottom: 50px;
    left: 800px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.plug img {
    height: 32px;
    width: 32px;
}

.plug p {
    margin-left: 10px;
}

.boundary {

    /* position: relative;  */

/*     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 100vh;
    width: auto; */

/*     position: fixed;
    height: 100vh;
    width: 100vh;
    left: 50vh;
    right: 0; */

/*     height: 100vh;
    width: 100vw;

    position:absolute;

    left:0%;
    top:0%;

    margin-left: 25%;
    margin-right: 25%; */

/*     border: 5px;
    border-radius: 5px;
    border-color: red;
    border-style: dashed; */
}

.content {

    /* background-size: 100vh; */
/*     height: 100%;
    width: 100%;
 */

/*     background-color: black;
    background-image: url("kokeplater.png");
    background-repeat: no-repeat;
    background-size: 100vh;
    background-position: center top; */

/*     width: 100vw;
    height: 100vh; */

/*     display: inline-flex;
    direction: row;
    flex-wrap: nowrap;
    justify-content: space-between; */

/*     border: 5px;
    border-radius: 5px;
    border-color: red;
    border-style: dashed; */
}

.background {
    /*     background-color: black;
        background-image: url("kokeplater.png");
        background-repeat: no-repeat;
        background-size: 100vh;
        background-position: center top;
    
        width: 100vw;
        height: 100vh;
    
        border: 5px;
        border-radius: 5px;
        border-color: blue;
        border-style: dashed; */
    
    
    /*     src: url("kokeplater.png");
        height: 500px;
        width: 500px; */
    
}

/* .background img {
    position: relative;
    display: block;
    height: 100vh;
    width: auto;
    
    z-index: -1;
} */

/* .knapper {

    display: inline-flex;
    direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    height: auto;
    width: auto;

    border: 5px;
    border-radius: 5px;
    border-color: white;
    border-style: dashed;

    position: absolute;
    bottom: 0;

}

.knapper div{

}

.knapper button{
    background-color: gray;
    color: white;
}
 */